.nlist {
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  // Принято решение, что отступ слева до первой вертикальной линии корневого узла 0.5em.
  // Принято решение, что отступ слева от узла до вертикалльной линии дочерних узлов 0.4em.
  // 0.5 - 0.4
  padding-left: 0.1em;

  ul {
    margin: 0;
    padding: 0;
  }

  // Узел li с вертикальной линией узла box-shadow.
  li {
    position: relative;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    // Хак для отображения вертикальной линии на расстоянии 0.4em правее предка. При этом общий отступ узла должен составлять 1.6em. 
    // 1.6 = 0.4 + 1.2
    margin-left: 0.4em;
    padding-left: 1.2em;
    // Граница не должна влиять на ширину узла, поэтому box-shadow. При box-sizing всёравно появляются артефакты.
    box-shadow: inset 1px 0px DarkGray;

    // Горизонтальня линия узла.
    &::after {
      content: "";
      display: block;
      border-bottom: solid 1px DarkGray;
      border-left: solid 1px DarkGray;
      position: absolute;
      // Общий отступ за вычитанием отступа слева и справа.
      // 1.6 - 0.4 - 0.2
      width: 1.0em;
      height: 0.7em;
      left: 0.0em;
      top: 0.0em;
    }

    // Отмена вертикальной линии узла у последнего узла своего уровня.
    &:last-child {
      box-shadow: none;
    }
  }

  &.nlist-dropdown {
    // Все первые теги i скрываются, если далее нет ul, см. li:has(>ul).
    li>i:first-of-type {
      display: none;
    }

    li:has(>ul) {
      // Кликкер через тег i
      &>i:first-of-type {
        display: block;
        position: absolute;
        width: 0.7em;
        height: 0.7em;
        left: 0.0em;
        top: 0.7em;
        margin-left: -0.35em;
        margin-top: -0.35em;
        background-image: url("./../images/node.svg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        z-index: 2;
        border: solid 1px DarkGray;
      }

      &>ul {
        transition: height 250ms ease;
        overflow: hidden;
      }

      &.nlist-close {
        // Меняем кликкер
        &>i:first-of-type {
          background-position: center top;
        }

        // Скрываем потомков
        &>ul {
          height: 0px;
        }
      }
    }
  }
}
