.ul_to_tree2 {
  margin: 0;
  padding: 0;
  // Принято решение, что горизонтальная дистанция между уровнями 1.6em.
  // Принято решение, что отступ слева до первой вертикальной линии корневого узла 0.5em.
  // 1.6 + 0.5
  padding-left: 2.1em;

  li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    padding-left: 1.6em;
    position: relative;

    &>i {
      display: none;
    }

    &>div {
      position: relative;
    }

    // 1. Вертикальная линия узла.
    &::before {
      content: "";
      display: block;
      border-left: solid 1px DarkGray;
      position: absolute;
      width: 0px;
      height: 100%;
      left: -1.6em;
      top: 0;
    }

    // 2. Горизонтальня линия узла.
    &::after {
      content: "";
      display: block;
      border-bottom: solid 1px DarkGray;
      border-left: solid 1px DarkGray;
      position: absolute;
      // Это ширина всех горизонтальных черт, кроме черт первого уровня (см. &>li).
      // 1.6 + 1.6 - 0.2
      width: 3.0em;
      height: 0.6em;
      left: -1.6em;
      top: 0em;
    }

    &:last-child {

      &::before {
        border-left: none;
      }
    }

    // 3. Вертикальная линия контента (от узла до потомков).
    &:has(>ul) {
      &>div::before {
        content: "";
        display: block;
        border-left: solid 1px DarkGray;
        position: absolute;
        width: 0px;
        height: 100%;
        left: -1.6em;
        top: 0.6em;
      }
    }
  }

  // &>li {
  //   &::before {
  //     left: -1.0em;
  //   }
  //   &::after {
  //     left: -1.0em;
  //     // Это ширина горизонтальных черт только первого уровня.
  //     // На первом уровне вертикальная черта вынесена только на -1.0em
  //     // 1.0 + 1.6 - 0.2
  //     width: 2.4em;
  //   }
  // }

  ul {
    margin: 0;
    padding: 0;
    margin-left: -1.6em;
    padding-left: 1.6em;
  }

  &.ul_to_tree2-dropdown {
    li:has(>ul) {
      &>i {
        display: block;
        position: absolute;
        width: 0.7em;
        height: 0.7em;
        left: 0em;
        top: 0.6em;
        margin-left: -0.35em;
        margin-top: -0.35em;
        background-image: url("./../images/node.svg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        z-index: 2;
        border: solid 1px DarkGray;
      }
      &>ul {
        transition: height 250ms ease;
        overflow: hidden;
      }
      &.close {
        &>i {
          background-position: center bottom;
        }
        &>ul {
          height: 0px;
          li::before, li::after, div::before, i {
            display: none;
          }
        }
        &>div::before {
          display: none;
        }
      }
    }
  }
}
