.nestedul.nestedul-wide {
  padding-left: 2.1em;

  ul {
    margin-left: -1.6em;
    padding-left: 1.6em;
  }

  li {
    padding-left: 3.2em;
    margin-left: -1.6em;

    &::after {
      width: 3.0em;
    }

    // Добавляется вертикальная линия контента (от узла до потомков).
    &:has(>ul) {
      &>div {
        position: relative;

        &::before {
          content: "";
          display: block;
          border-left: solid 1px DarkGray;
          position: absolute;
          width: 0px;
          height: 100%;
          left: -1.6em;
          top: 0.6em;
        }
      }
    }
  }

  &.nestedul-dropdown {
    li:has(>ul) {
      // Кликкер через тег i
      &>i:first-of-type {
        left: 1.6em;
      }

      &.nestedul-close {
        // Скрыть:
        // 1. Cоединение с потомками;
        &>div::before {
          display: none;
        }
        // 2. Вертикальные линии дочерних узлов;
        & li::after {
          display: none;
        }
        // 3. Горизонтальные линии дочерних узлов;
        & li {
          box-shadow: none;
        }
        // 4. Соединительные линии дочерних узлов с поддочерними.
        & li>div::before {
          display: none;
        }
        // 5. Кликкеры дочерних узлов.
        & li>i:first-of-type {
          display: none;
        }
      }
    }
  }
}
