.nlist.nlist-wide {
  padding-left: 2.1em;

  ul {
    margin-left: -1.6em;
    padding-left: 1.6em;
  }

  li {
    padding-left: 3.2em;
    margin-left: -1.6em;

    &::after {
      width: 3.0em;
    }

    // Добавляется вертикальная линия контента (от узла до потомков).
    &:has(>ul) {
      &>div {
        position: relative;

        &::before {
          content: "";
          display: block;
          border-left: solid 1px DarkGray;
          position: absolute;
          width: 0px;
          height: 100%;
          left: -1.6em;
          top: 0.6em;
        }
      }
    }

    // Добавляется кликкер через тег i
    &>i {
      display: none;
    }
  }

  &.nlist-dropdown {
    li:has(>ul) {
      // Кликкер через тег i
      &>i {
        left: 1.6em;
      }

      &.close {
        // При скрытии потомков скрываем соединение с потомками
        &>div::before {
          display: none;
        }
      }
    }
  }
}
