@use "variables" as *;

.nestedul.nestedul-narrow {
  // Принято решение, что отступ слева до первой вертикальной линии корневого узла 0.5em.
  // Принято решение, что отступ слева от узла до вертикалльной линии дочерних узлов 0.4em.
  // 0.5 - 0.4
  padding-left: $nestedul-indent;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    // Хак для отображения вертикальной линии на расстоянии 0.4em правее предка. При этом общий отступ узла должен составлять 1.6em. 
    // 1.6 = 0.4 + 1.2
    margin-left: 0.4em;
    padding-left: 1.2em;

    &::after {
      // Общий отступ за вычитанием отступа слева и справа.
      // 1.6 - 0.4 - 0.2
      width: 1.0em;
    }
  }

  &:not(.nestedul-static) {
    li:has(>ul) {
      // Кликкер через тег i
      &>i:first-of-type {
        left: 0.0em;
      }

      &.nestedul-close {
      }
    }
  }
}
